$bp-md: 46.9em; // 750px / 16px = 46.9em
$bp-sm: 37.5em; //600px/16px = 37.5em
$bp-sml: 30em; //480px/16px = 30em
$bp-smll: 25em; //400px/16px = 25em

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 87.5%; //14px 14px/16px default fontsize 1rem=14px

  @media only screen and (max-width: 21.9em) {
    font-size: 75%; //12px/16px 1rem = 12px
  }
}

body {
  // line-height: 1.6;
  font-weight: 700;
}

.container {
  height: 100vh;
  background-image: linear-gradient(
      rgba(30, 31, 41, 0.95),
      rgba(30, 31, 41, 0.95)
    ),
    url(../images/hero.jpg);
  background-size: cover;
  background-position: center;
  overflow: hidden;

  padding-top: 2rem;
  padding-bottom: 1.5rem;

  display: grid;
  grid-template-rows: 0.6fr -webkit-min-content 1fr;
  grid-template-rows: 0.7fr -webkit-min-content 1fr;
  grid-template-rows: 0.7fr min-content 1fr;
  grid-template-columns: minmax(-webkit-min-content, -webkit-max-content);
  grid-template-columns: minmax(min-content, max-content);
  grid-row-gap: 0.6rem;
  align-content: center;
  justify-content: center;

  align-items: center;
  justify-items: center;
}

.heading-primary {
  letter-spacing: 5px;
  color: hsl(0, 0%, 100%);
  margin-bottom: 3rem;
  font-size: 1.2rem;

  @media only screen and (max-width: 21.9em) {
    font-size: 1rem;
  }
  text-transform: uppercase;
}
