.timing {
  display: flex;
  align-items: center;
  justify-items: center;
  //margin: 0 auto;

  @media only screen and (max-width: $bp-sml) {
    margin: 0 auto;
    //width: 70%;
    margin-right: 10%;
    margin-left: 18%;
  }
}
.days {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;

  &__number {
    margin-top: -1rem;
    border-radius: 5px;
    width: 80px;

    @media only screen and (max-width: $bp-md) {
      width: 75px;
      font-size: 3rem;
    }

    @media only screen and (max-width: $bp-sm) {
      width: 73px;
    }

    @media only screen and (max-width: $bp-sml) {
      width: 70px;
      font-size: 2.5rem;
    }

    @media only screen and (max-width: $bp-smll) {
      width: 60px;
      font-size: 2rem;
    }

    @media only screen and (max-width: 21.9em) {
      width: 45px;
      font-size: 1.9rem;
    }

    text-align: center;

    &:not(:last-child) {
      margin-right: 2rem;
    }

    font-weight: 700;
    font-size: 3.5rem;
    color: hsl(345, 95%, 68%);
    padding: 1rem 1.1rem;
    background-image: linear-gradient(
      to bottom,
      rgba(52, 54, 80, 1) 50%,
      rgba(132, 134, 169, 1) 50%
    );
  }

  &__words {
    margin-left: -2rem;
    font-size: 0.8rem;

    @media only screen and (max-width: $bp-sml) {
      font-size: 0.7rem;
    }
    @media only screen and (max-width: $bp-smll) {
      font-size: 0.6rem;
    }

    text-transform: uppercase;
    color: rgba(132, 134, 169, 1);
    letter-spacing: 2.8px;
    align-self: center;

    padding-top: 1.5rem;
  }
}

.social {
  // display: flex;
  // margin-right: 2rem;
  &__icon {
    color: rgba(132, 134, 169, 1);
    font-size: 1.8rem;
  }

  &__link {
    text-decoration: none;
    display: inline-block;
    margin-right: 1rem;
  }
}
